<p>1. Add a button which says 'Display Details'</p>
<p>
  Add a paragraph with any content of your coice (e.g. 'Secret Password = tuna')
</p>
<p>
  3. Toggle the displaying of that paragraph with the button created in the
  first step
</p>
<p>
  4. Log all button clicks in an array and output that array below the secret
  paragraph (maybe log a timestamp or simply an incrementing number)
</p>
<p>
  5. Starting at the 5th log item, give all future log items a blue background
  (via ngStyle) an white color (ngClass)
</p>

<hr />

<!-- <button (click)="showSecret = !showSecret">Display Details</button> -->
<button (click)="onToggle()">Display Details</button>
<p *ngIf="showSecret">Secret Password = tuna</p>
<hr />
<!-- <div
  *ngFor="let logItem of log"
  [ngStyle]="{ backgroundColor: logItem >= 5 ? 'blue' : 'transparent' }"
  [ngClass]="{ 'white-text-color': logItem >= 5 }"
> -->

<!-- GETTING THE INDEX WHEN USING THE ngFor -->
<div
  *ngFor="let logItem of log; let i = index"
  [ngStyle]="{ backgroundColor: i >= 4 ? 'blue' : 'transparent' }"
  [ngClass]="{ 'white-text-color': i >= 4 }"
>
  {{ logItem }}
</div>
