<p>
  1. Add a input field which updates a property (username) via Two-Way-Binding
</p>
<p>
  2. Output the username property via String interpolation (in a paragraph below
  the input)
</p>
<p>
  3. Add a button which may only be clicked if the username is NOT an empty
  string
</p>
<p>
  4. Upon clicking the button, the username should be reset to an empty string
</p>

<br />
<hr />
<br />

<input type="text" [(ngModel)]="username" /> <br />
<br />
<button [disabled]="!username" (click)="resetUsername()">Reset</button>
<hr />
<p>{{ username }}</p>
